<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h2>Bienvenue sur ton espace <%= current_user.first_name %></h2>
      <hr>

   <!--    DASHBOARD  -->

      <div class="dash">
        <div class="compte">
          <br>
          <span><%= cl_image_tag current_user.photo.key , height: 70, weight: 70, class: "avatar-bordered" %></span>
          <%= current_user.first_name %> <%= current_user.last_name %>
          <br>
          <br>
          <p><i class="fas fa-envelope-open-text"></i>   <%= current_user.email %></p>
          <p><i class="fas fa-phone-square-alt"></i>   <%= current_user.phone_number %></p>
          <p><i class="fas fa-building"></i>   <%= current_user.company_name %></p>
        </div>
        <div class="board">
          <br>
          <h3>Mes statistiques :</h3>
          <div class="d-flex">
            <div class="px-2">
              <p> Missions données (nombre) : <%= current_user.missions.count %></p>
              <p> Missions données (euros) : <%= current_user.missions.sum(:total_price) %> €</p>
            </div>
            <div class="px-2">
              <% number_accepted_missions = 0 %>
              <% number_pending_missions = 0 %>
              <% amount_accepted_missions = 0 %>
              <% current_user.coders.each do |coder|  %>
                <% number_accepted_missions += coder.missions.where(validated_mission: true).count %>
                <% number_accepted_missions += coder.missions.where(validated_mission: nil).count %>
                <% amount_accepted_missions += coder.missions.where(validated_mission: true).sum(:total_price) %>
              <% end %>
              <p> Missions en attente (nombre) : <%= number_pending_missions %></p>
              <p> Missions acceptées (nombre) : <%= number_accepted_missions %></p>
              <p> Missions acceptées (euros) : <%= amount_accepted_missions %> €</p>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard-coder">
        <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
          Espace recruteur
        </div>
        <br>
        <div class="company flex-vert-around">
          <h3><%= link_to "Mes missions", "/missions_recruteur" %></h3>
          <h3><%= link_to "Mes freelances favoris", "#" %></h3>
        </div>
        <hr>
      </div>
      <br>
      <div class="row">
        <% mes_codeurs_en_mission = [] %>
        <% current_user.missions.each do |mission| %>
          <% mes_codeurs_en_mission << mission.coder %>
        <% end %>
        <% mes_codeurs_en_mission.uniq.each do |coder| %>
          <div class="col-4">
            <%= render partial: 'coders/coder_card', locals: {coder: coder} %>
          </div>
        <% end %>
      </div>
<!--       ESPACE RECRUTEUR / CODEUR  -->

      <div class="dashboard-coder">
        <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
          Espace codeur
        </div>
        <br>
        <div class="coder flex-vert-around">
          <% if current_user.coders.count == 0 %>
            <%= link_to "Créer mon profil de codeur", new_user_coder_path(current_user)%>
          <% elsif current_user.coders.count == 1 %>
            <h3><%= link_to "Editer mon profil de codeur", "#"%></h3>
            <h3><%= link_to "Voir mes missions de codeur", missions_mes_codeurs_path%></h3>
            <h3><%= link_to "Créer un autre profil de codeur", new_user_coder_path(current_user)%></h3>
          <% else %>
            <h3><%= link_to "Créer un profil de codeur", new_user_coder_path(current_user)%></h3>
            <h3><%= link_to "Voir les missions de mes codeurs", missions_mes_codeurs_path%></h3>
          <% end %>
        </div>
      </div>
      <br>
      <div class="row">
        <% current_user.coders.each do |coder| %>
          <div class="col-4">
            <%= render partial: 'coders/coder_card', locals: {coder: coder} %>
          </div>
        <% end %>
      </div>
      <br>
 <!--        ESPACE RECRUTEUR  -->

    </div>
  </div>
</div>

