
<div class="back-bar">
  <%= link_to " << Revenir au profil", _back_url, class: "btn btn-outline-danger rounded-pill" %>
</div>
<div class="container">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Create a new Mission</h2>
      <%= simple_form_for [@coder, @mission] do |f| %>
        <%= f.input :title %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :description %>
        <div class="row justify-content-center">
        <%= f.button :submit, class: "btn btn-primary rounded-pill" %>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
