<div class="flat-card">
  <% if coder.photo.attached? %>
    <div class="flat-card-image" style="background-image: url('<%= cl_image_path coder.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
  <% else %>
    <div class="flat-card-image" style="background-image: url(https://res.cloudinary.com/dnpdonlro/image/upload/v1605711952/committed_to_excellence-8c514667b11ec04b4172d45d04718e4968c6a518875df69fa7faad1fc956a4e9_hvctwi.jpg)"></div>
  <% end %>
  <%= link_to '', coder_path(coder),class: 'card-link' %>
  <div class="flat-card-content">
    <div class="flat-card-title">
      <h4><%= coder.name %></h4>
    </div>
    <div class="flat-card-description">
    <p><%= coder.description.truncate(50) %></p>
    <div class="flat-card-price">
        <i class="material-icons mr-3"></i><span><%= coder.price_per_day %>€</span>
      </div>

      <div class="flex ml-3">
      </div>
    </div>
  </div>
  <div class="flat-card-actions d-flex justify-content-between align-items-center">
    <%= link_to 'More info', coder_path(coder) %>
    <% if coder.user == current_user %>
      <span class="btn btn-info"> My profil </span>
    <% end %>
  </div>
</div>
