<div class="coder-card">
  <div class="coder-card-price">
    <span><%= coder.price_per_day%> €/j</span>
  </div>
  <% if coder.reviews.count > 0 %>
    <div class="coder-card-review">
      <span><i class="fas fa-star"></i> <%= (coder.reviews.sum(:rating) / coder.reviews.count.to_f).round(1)%></span>
    </div>
  <% end %>
  <% if coder.photo.attached? %>
    <div class="coder-card-image" style="background-image: url('<%= cl_image_path coder.photo.key, height: 300, width: 400, crop: :fill, gravity: :face %>')"></div>
  <% else %>
    <div class="coder-card-image" style="background-image: url(https://res.cloudinary.com/dnpdonlro/image/upload/v1605711952/committed_to_excellence-8c514667b11ec04b4172d45d04718e4968c6a518875df69fa7faad1fc956a4e9_hvctwi.jpg)"></div>
  <% end %>
  <%= link_to '', coder_path(coder)%>
  <div class="coder-card-content">
    <div class="coder-card-title">
      <h4><%= coder.name %></h4>
    </div>
    <div class="coder-card-description">
      <p><%= coder.description.truncate(50) %></p>
    </div>
    <div class="coder-card-tags d-flex">
      <% coder.tag_list.first(4).each do |tag| %>
        <div class="coder-tags"><%= tag %></div>
      <% end %>
    </div>
  </div>
  <div class="coder-card-actions">
    <%= link_to 'En savoir plus', coder_path(coder), class: "btn btn-outline-primary" %>
    <% if coder.user == current_user %>
      <span class="coder-card-appartenance"> Mon profil </span>
    <% end %>
  </div>
</div>
