
<h1 style="text-align: center">Les meilleurs talents du Wagon</h1>
<h2>Trouvez votre expert parmi nos freelances!</h2>

<%= simple_form_for :query, url: coders_path, method: :get do |f| %>
  <div class="row justify-content-center">
  <div class="search-form-control form-group">
    <input class="form-control string required" placeholder="Essayez 'React.js','java', 'Steve Jobs'..." type="text" name="query" id="query" value="<%= params[:query] %>"/>
    <button name="button" type="submit" class="btn btn-danger">
      <i class="fas fa-search"></i>Search
    </button>

    <div class="tag">
    <%= check_box_tag(:tag_1) %>
    <%= label_tag(:tag_1, "Front") %>
    <%= check_box_tag(:tag_2) %>
    <%= label_tag(:tag_2, "Back") %>
    <%= check_box_tag(:tag_2) %>
    <%= label_tag(:tag_2, "Full stack") %>
    <input type="range" id="volume" name="tarif" min="100" max="2000">
    <label for="tarif">Tarif / jour</label>
    </div>
  </div>
</div>
<% end %>

 <div class="container mt-3">
  <div class="row">
    <div class="col-12">
    </div>
    </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @coders.count %> coders out of our <%= Coder.count %> on our website.</p>
      <% else %>
        <p>All <%= Coder.count %> coders.</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @coders.order(updated_at: :desc ).each do |coder| %>
      <div class="col-4">
        <div class="flat-card">
          <%= link_to '', coder_path(coder),class: 'card-link' %>
          <% if coder.photo.attached? %>
            <div class="flat-card-image" style="background-image: url('<%= cl_image_path coder.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
          <% else %>
            <div class="flat-card-image" style="background-image: url(https://res.cloudinary.com/dnpdonlro/image/upload/v1605711952/committed_to_excellence-8c514667b11ec04b4172d45d04718e4968c6a518875df69fa7faad1fc956a4e9_hvctwi.jpg)"></div>
          <% end %>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4></i><%= coder.name %></h4>
            </div>
            <div class="flat-card-description">
              <p><%= coder.description.truncate(50) %></p>
            <div class="flat-card-price">
              <span><%= coder.price_per_day%> </span><i class="fas fa-euro-sign"> /jour</i>
            </div>
                <div class="flat-card-actions">
                    <%= link_to 'En savoir plus', coder_path(coder), class: "btn btn-outline-danger"%>
                </div>
                <div class="flex ml-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


