<br>
<h2>Trouver votre expert parmi nos freelances!</h2>
<%= simple_form_for :query, url: coders_path, method: :get do |f| %>
  <div class="row justify-content-center">
  <div class="search-form-control form-group">
    <input class="form-control string required" placeholder="Essayer 'React.js','java', 'Steve Jobs'..." type="text" name="query" id="query" value="<%= params[:query] %>"/>
    <button name="button" type="submit" class="rounded-pill btn btn-danger">
      <i class="fas fa-search"></i>  Chercher
    </button>

    <div class="tag">
    <%= check_box_tag(:tag) %>
    <%= label_tag(:tag, "Javascript") %>
    <%= check_box_tag(:tag) %>
    <%= label_tag(:tag, "HTML") %>
    <%= check_box_tag(:tag) %>
    <%= label_tag(:tag, "CSS") %>
    <%= check_box_tag(:tag) %>
    <%= label_tag(:tag, "ReactJS") %>
    <input type="range" id="volume" name="tarif" min="100" max="2000">
    <label for="tarif">Tarif / jour</label>
    </div>
  </div>
</div>
<% end %>

 <div class="container mt-3">
  <div class="row">
    <div class="col-12">
    </div>
    </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>Vous avez cherché "<strong><%= @query %></strong>". Nous avons trouvé <%= @coders.count %> codeurs sur  <%= Coder.count %> sur notre site web.</p>
      <% else %>
        <p>Nous avons trouvé <%= Coder.count %> coders selon vos critères.</p>
         <%= link_to "all", coders_path %>
         <div class="tag">

  <% @coders.each do |r| %>
  <p>
    <% r.tag_list.each do |tag| %>
      <%= link_to tag, coders_path(tag: tag) %>
    <% end %>
  </p>
<% end %>
      <% end %>
  </div>
    </div>
  </div>
  <div class="row">
    <% @coders.order(updated_at: :desc ).each do |coder| %>
      <div class="col-4">
        <%= render partial: 'coders/coder_card', locals: {coder: coder} %>
      </div>
    <% end %>
  </div>
</div>


