<br>
<h2>Trouver votre expert parmi nos freelances!</h2>
<%= simple_form_for :query, url: coders_path, method: :get do |f| %>
  <div class="row justify-content-center">
    <div class="search-form-control form-group">
      <input class="form-control string required" placeholder="Essayer 'React.js','java', 'Steve Jobs'..." type="text" name="query" id="query" value="<%= params[:query] %>"/>
        <button name="button" type="submit" class="rounded-pill btn btn-danger">
          <i class="fas fa-search"></i>  Chercher
        </button>
        <div class="tag">

            <% Coder::CODE_LIST.each do |tag| %>
              <%= link_to tag, coders_path(tag: tag) %>
            <% end %>

        </div>
    </div>
  </div>
<% end %>


 <div class="container mt-3">
  <div class="row">
    <div class="col-12">
    </div>
    </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>Vous avez cherché "<strong><%= @query %></strong>". Nous avons trouvé <%= @coders.count %> codeurs sur  <%= Coder.count %> sur notre site web.</p>
      <% else %>
        <p><%= Coder.count %> Codeurs trouvés.</p>
        <p class="btn btn-outline-primary rounded-pill">
            <%= link_to "Afficher tous les codeurs", coders_path %>

      <% end %>

    </div>
  </div>
  <div class="row">
    <% @coders.order(updated_at: :desc ).each do |coder| %>
      <div class="col-4">
        <%= render partial: 'coders/coder_card', locals: {coder: coder} %>
      </div>
    <% end %>
  </div>
</div>


