
<h1 style="text-align: center">Les meilleurs talents du Wagon</h1>
<h2>Trouvez votre expert parmi nos freelances!</h2>

<%= simple_form_for :query, url: coders_path, method: :get do |f| %>
  <div class="row justify-content-center">
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query" id="query" value="<%= params[:query] %>"/>
    <button name="button" type="submit" class="btn btn-danger">
      <i class="fas fa-search"></i> Search
    </button>
    <div class=" tag">
    <%= check_box_tag(:tag_1) %>
    <%= label_tag(:tag_1, "Ruby") %>
    <%= check_box_tag(:tag_2) %>
    <%= label_tag(:tag_2, "java") %>
    </div>

  </div>
</div>
<% end %>

 <div class="container mt-3">
  <div class="row">
    <div class="col-12">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @coders.count %> coders out of our <%= Coder.count %> on our website.</p>
      <% else %>
        <p>All <%= Coder.count %> coders.</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @coders.order(updated_at: :desc ).each do |coder| %>
      <div class="col-4">
        <div class="flat-card">
          <% if coder.photo.attached? %>
            <div class="flat-card-image" style="background-image: url('<%= cl_image_path coder.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
          <% else %>
            <div class="flat-card-image" style="background-image: url(https://res.cloudinary.com/dnpdonlro/image/upload/v1605711952/committed_to_excellence-8c514667b11ec04b4172d45d04718e4968c6a518875df69fa7faad1fc956a4e9_hvctwi.jpg)"></div>
          <% end %>
          <%= link_to '', coder_path(coder),class: 'card-link' %>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= coder.name %></h4>
            </div>
            <div class="flat-card-description">
            <p><%= coder.description.truncate(50) %></p>
            <div class="flat-card-price">
                <i class="material-icons mr-3"></i><span><%= coder.price_per_day %>€</span>
              </div>

              <div class="flex ml-3">
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to 'More info', coder_path(coder) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


