<div class="back-bar">
<%= link_to " << Back to home", root_path  %>
</div>
<h1 style="text-align: center">Les meilleurs talents du Wagon</h1>
<h2>Trouvez votre expert parmi nos freelances!</h2>
<%= simple_form_for :query, url: coders_path, method: :get do |f| %>
  <div class="row justify-content-center">
  <div class="search-form-control form-group">
    <input class="form-control string required" placeholder="Essayez 'React.js','java', 'Steve Jobs'..." type="text" name="query" id="query" value="<%= params[:query] %>"/>
    <button name="button" type="submit" class="btn btn-danger">
      <i class="fas fa-search"></i>Search
    </button>

    <div class="tag">
    <%= check_box_tag(:tag_1) %>
    <%= label_tag(:tag_1, "Front") %>
    <%= check_box_tag(:tag_2) %>
    <%= label_tag(:tag_2, "Back") %>
    <%= check_box_tag(:tag_2) %>
    <%= label_tag(:tag_2, "Full stack") %>
    <input type="range" id="volume" name="tarif" min="100" max="2000">
    <label for="tarif">Tarif / jour</label>
    </div>
  </div>
</div>
<% end %>

 <div class="container mt-3">
  <div class="row">
    <div class="col-12">
    </div>
    </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>Vous avez cherché "<strong><%= @query %></strong>". Nous avons trouvé <%= @coders.count %> codeurs sur  <%= Coder.count %> sur notre site web.</p>
      <% else %>
        <p>All <%= Coder.count %> coders.</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @coders.order(updated_at: :desc ).each do |coder| %>
      <div class="col-4">
        <%= render partial: 'coders/coder_card', locals: {coder: coder} %>
      </div>
    <% end %>
  </div>
</div>


