
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Créer votre compte codeur soyez visible </h2>

       <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
        Espace codeur
      </div>

      <%= simple_form_for [current_user, @coder] do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :description %>
        <%= f.input :phone_number %>
        <%= f.input :price_per_day %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<div>

