
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Create your Coder</h2>

      <%= simple_form_for [current_user, @coder] do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :description %>
        <%= f.input :phone_number %>
        <%= f.input :price_per_day %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<div>

