<div class="back-bar">
  <%= link_to " << Back to coders list", coders_path  %>
</div>
<div class="container">
  <div class="row my-4">
    <div class="col-lg-8 coder-top infos-box">
      <div class="coder-name p-3 d-flex justify-content-center align-items-center">
        <h1 class="m-0"><%= @coder.name %></h1>
      </div>
      <div class="coder-short-desc p-3">
        <span><%= @coder.description.truncate(50) %></span>
        <br>
        <span><%= @coder.email %></span>
      </div>
      <div class="coder-stats p-3 d-flex justify-content-between">
        <div class="coder-stats-box d-flex justify-content-center align-items-center">
          <span><%= @coder.price_per_day %> € / jour</span>
        </div>
        <div class="coder-stats-box d-flex justify-content-center align-items-center">
          <span><%= @coder.missions.where(validated_mission: true).count %> missions <br> acceptées</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 coder-top picture-box">
      <div class="coder-picture p-3 d-flex">
        <% if @coder.photo.attached? %>
          <%= cl_image_tag @coder.photo.key , height: 200, weight: 300, class: "profil-picture" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dnpdonlro/image/upload/v1605711897/qfp8ofi6fmh2nrgx88xr5cwi2jl9.jpg", height: 200, weight: 300, class: "profil-picture" %>
        <% end %>
      </div>
      <% if current_user == @coder.user %>
        <div class="btn btn-danger">
          <%= link_to "edit coder", edit_coder_path(@coder) %>
        </div>
      <% else %>
        <div class="btn btn-danger">
          <%= link_to "book for a mission", new_coder_mission_path(@coder) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12">
      <p><%= @coder.description%></p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-lg-10 col-offset-1 coder-missions-box">
      <h3 class="m-4">Mes missions :</h3>
      <ul class= "missions-list">
        <% sorted_missions = @coder.missions.where(validated_mission: true).order(start_date: :desc) %>
        <% sorted_missions.each do |mission| %>
          <li>
            <div class="mission-card">
              <div class="mission-top">
                <h4><%= mission.title %></h4>
                <span><i class="far fa-calendar-alt mr-2"></i>du <%= mission.start_date %> au <%= mission.end_date %></span>
              </div>
              <hr class="m-1">
              <div class="mission-long-desc mt-2">
                <p><%= mission.description %></p>
              </div>
              <% if mission.user == current_user %>
                <hr class="m-1">
                <div class="missions-confidentials-infos">
                  <span><%= mission.total_price %> €</span>
                  <span><%= mission.validated_mission %> €</span>
                  <span>given by <%= mission.user.first_name %> <%= mission.user.last_name %>
                    from <%= mission.user.company_name %>
                  </span>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>




